# Code::Blocks project folders & files (customized)
bin/
doxygen/
obj/
*.cbp
*.depend
*.layout

# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app